<body>
  <div class="uploadFile">
    <br /><br />
    <h1>Subir Archivo</h1>

    <form action="/" method="POST">
      <div>
        <label for="username">Nombre del equipo:</label><br />
        <input type="text" id="username" name="username" required />
      </div>
      <br />
      <div>
        <label for="file">ZIP:</label><br />
        <input
          type="file"
          id="username"
          name="username"
          required
          accept=".zip"
        />
      </div>

      <br />

      <button type="submit">Subir archivo</button>
    </form>
  </div>
</body>
